bash/.bash_history
bash/.bash_profile
bash/.bashrc.save
bash/.bashrc.savetab

zsh/.zprofile.pysave
zsh/.z
zsh/.zsh_sessions
zsh/.zcompdump
zsh/.zshenv
zsh/.zcompdump-Christenson's MBP-5.9
zsh/.zcompdump-Christenson's MBP-5.9.zwc
zsh/.zshrc.pre-oh-my-zsh
zsh/.zcompdump-Hao-Tran-5.9
zsh/.zshrc.pre-oh-my-zsh-2024-02-06_05-11-49
zsh/.zcompdump-Hao-Tran-5.9.zwc
zsh/.zshrc.pre-oh-my-zsh-2024-02-06_05-27-13
zsh/.zlogin
zsh/.zshrc.save
zsh/.zshrc.swo
zsh/.zprofile
zsh/.zprofile.bak
zsh/.zshrc.swp
zsh/.zprofile.macports-saved_2023-11-01_at_21:16:53
zsh/.zsh_history

backup_files/
