[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/tranlynhathao/nvchad-macos
[submodule "dotfiles/nvim"]
	path = dotfiles/nvim
	url = https://github.com/mgastonportillo/nvchad-config.git
